<%- include('partials/header')%>
<%- include('partials/nav')%>

<form class="m-auto w-25 mt-5" action="/updatetask/<%= task._id%>" method="post">
<h1>UPdate-Task</h1>

<input class="form-control mb-3" 
type="text"
 placeholder="Task"
 name="task"
 value= "<%= task.task%>"
 >

<input class="form-control mb-3"
 type="text" 
 placeholder="task-detail" 
 name="details"
 value= "<%= task.details%>"
 >


<input class="form-control mb-3" 
type="text"
placeholder="task-date"
name="datetask"
value= "<%= task.datetask%>"
>


    <button class="btn btn-danger w-30">UPdate task</button>
</form>


</form>


<%- include('partials/footer.ejs')%>